<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="QA" factory-bean="generalFactoryBean" factory-method="make"
          c:_0="#{#taskType('translate:QUESTION->ANSWER')}"/>

    <bean id="circle" class="#{#Circle}" p:randomnessFactor="0.4"/>

    <bean class="#{#Exercise}"
          p:name="exercise1"
          p:dirs="${dir1}"
          p:taskFilter="#{@QA}"
          p:repeatStrategy="#{@circle}"
    />

</beans>